.status-datetime{
    font-style: italic;
    font-size: 0.9em;
    color: #1060a7;
}

.status{
    padding: 10px;
    width: max-content;
    max-width: 100%;
    margin: 5px;
}

img{
    max-width: 20%;
}

main{
    width: 40vw;
    margin: auto;
}

@media screen and (max-width: 900px){
    
    main{
        width: 70vw;
    }
    
}

@media screen and (max-width: 600px){
    
    main{
        width: 80vw;
    }
    
}

@media screen and (max-width: 370px){
    
    main{
        width: 90vw;
    }
    
}