/* Global links */
a{
    text-decoration: underline;
    color: #1060a7;
}

a:visited{
    color: #1060a7;
}

a:hover{
    color: #1791fc;
}

/* h1 would be the title */
h1{
    margin: 0px;
}

p{
    color: #1060a7;
    margin: 0px;
}

img{
    max-width: 100%;
}

footer a{
    color: white;
}

footer a:hover{
    color: rgb(184, 184, 184);
}

footer a:visited{
    color: white;
}