[data-theme="light"]{
    --datetime-color: #777;
    --status-color: #2b8fe7;
    --link-color: #67aae5;
    --hover-link-color: #6caee7;
}

[data-theme="dark"]{
    --datetime-color: #7a8b9b;
    --status-color:#65a2d6 ;
    --link-color: #357dbd;
    --hover-link-color: #568cbb;
}

.status-update{
    margin: 1em 0em;
    color: var(--status-color);
}

.status-update a{
    font-style: italic;
    color: var(--link-color);
}

.status-update a:hover{
    color: var(--hover-link-color);
}

.status-update-datetime{
    font-size: 15px;
    font-style: italic;
    text-align: right;
    color: var(--datetime-color);
}

