.status-update{
    margin: 1em 0em;
    color: #1060a7;
}

.status-update a{
    font-style: italic;
}

.status-update br{
    margin: 0.5em;
}

.status-update-datetime{
    font-size: 15px;
    font-style: italic;
    text-align: right;
    color: #1791fc;
}

